@import "tailwindcss";

@theme {
  /* 텍스트 색상 */
  --color-primary: #4880EE;
  
  /* 배경 색상 */
  --color-bg-white: #FFFFFF;
  --color-bg-gray: #F2F4F6;
  
  /* 글자 색상 */
  --color-text-title: #1A1E27;
  --color-text-primary: #353C49;
  --color-text-secondary: #6D7582;
  --color-text-subtitle: #8D94A0;
  
  /* 테두리 색상 */
  --color-border-gray: #D2D6DA;
  
  /* 상태 색상 */
  --color-hover-gray: #F9FAFB;
}
